<body>
  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6" *ngIf="shirt">
      <div class="row">
        <div class="col-md-6">
          <img id="shirt-pic" src="{{shirt.photo}}"/>
        </div>
        <div class="col-md-4">
          <p>{{shirt.name}}</p>
          <div id="price">{{shirt.price}}</div>
          <div id="info">{{shirt.description}}</div>
          <br>
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-secondary">Small</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Medium</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Large</button>
          </div>
          <br><br>
          <div id="shipping">Fri standardfrakt och fria returer i JACUZZI Club. Alltid. Levereras på: 5-7 dagar</div>
          <br>
          <a routerLink="/checkout"><button type="button" class="btn btn-outline-secondary">Buy</button>
          </a>
        </div>
      </div>
    </div>
  </div>
</body>
<router-outlet></router-outlet>
