<body>
  <div class="cointainer">
    <div class="row">
      <div class="col-sm-3"></div>
        <div class="col-sm-6">
          <div class="border-bottom">
            <h3 class="text-justify">What is instaRate?</h3>
            <h4 class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id purus leo. Phasellus sit amet justo lacus. Mauris laoreet ipsum eu mauris iaculis porta. Aenean et est sollicitudin, interdum ligula eu, tincidunt risus. Donec non dictum neque. Vestibulum lacinia dui arcu, vitae efficitur massa ullamcorper id. Phasellus at odio ipsum. Cras consequat, lorem sed malesuada pretium, nibh justo sagittis ligula, in efficitur justo nulla ac odio.</h4>
            <img class="rounded w-100" src="https://images.pexels.com/photos/716276/pexels-photo-716276.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
          </div>
          <div class="border-bottom">
            <h3 class="text-justify">Teachers</h3>
            <h4 class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id purus leo. Phasellus sit amet justo lacus. Mauris laoreet ipsum eu mauris iaculis porta. Aenean et est sollicitudin, interdum ligula eu, tincidunt risus. Donec non dictum neque. Vestibulum lacinia dui arcu, vitae efficitur massa ullamcorper id. Phasellus at odio ipsum. Cras consequat, lorem sed malesuada pretium, nibh justo sagittis ligula, in efficitur justo nulla ac odio.</h4>
          </div>
          <div>
            <h3 class="text-justify">Students</h3>
            <h4 class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id purus leo. Phasellus sit amet justo lacus. Mauris laoreet ipsum eu mauris iaculis porta. Aenean et est sollicitudin, interdum ligula eu, tincidunt risus. Donec non dictum neque. Vestibulum lacinia dui arcu, vitae efficitur massa ullamcorper id. Phasellus at odio ipsum. Cras consequat, lorem sed malesuada pretium, nibh justo sagittis ligula, in efficitur justo nulla ac odio.</h4>
          </div>
          <br>
        </div>
      <div class="col-sm-3"></div>
    </div>
  </div>
</body>
