h1 {
  margin-bottom: 50px;
  margin-top: 50px;
}

h2 {
  margin-left: 10px;
}

.answer-image {
  margin-right: 100px;
  padding-right: 100px;
}

.answers {
  text-align: center;
}


.addBtn {
  background: none;
  border:none;
}

button:hover {
  background-color: #cfd8dc;
}

a {
    text-decoration: none;
}

input {
    border: 0px solid;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}
