<!--The content below is only a placeholder and can be replaced.-->
<div class="cointainer">
  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
      <div id="header">
        <h1><a class="hvr-sink" routerLink="/">{{ title }}</a></h1>
        <div id="header_items">
          <div class="container-fluid">
            <div class="row">
              <nav>
                  <li><a class="hvr-forward" routerLink="/shirts">Courses</a></li>
                  <li><a class="hvr-forward" routerLink="/shirts">About us</a></li>
                  <li><a class="hvr-forward">Community</a></li>
                  <li><a class="hvr-forward">FAQ</a></li>
                </nav>
              </div>
            </div>
          <br>
        </div>
      </div>
    </div>
  </div>
</div>
<div>
  <router-outlet></router-outlet>
</div>

<footer class="bd-footer text-muted">
  <div class="container">
    <hr>
      <p>Created by Viktor Lundberg</p>
      <p>viktor.karl.lundberg@gmail.com</p>
      <p>2018</p>
  </div>
</footer>
