<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<!--The content below is only a placeholder and can be replaced.-->
<div class="cointainer">
  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
      <div id="header">
        <h1><a class="hvr-sink" routerLink="/">{{ title }}</a></h1>
        <div id="header_items">
          <div class="container-fluid">
            <div class="row">
              <nav>
                  <li><a class="hvr-forward" routerLink="/shirts">Courses</a></li>
                  <li><a class="hvr-forward" routerLink="/shirts">About us</a></li>
                  <li><a class="hvr-forward">FAQ</a></li>
                  <li><a class="hvr-forward">Log in</a></li>
                </nav>
              </div>
            </div>
          <br>
        </div>
      </div>
    </div>
  </div>
</div>
<div>
  <router-outlet></router-outlet>
</div>

<footer class="bd-footer text-muted">
  <div class="container">
    <hr>
      <p>Created by Viktor Lundberg</p>
      <p>viktor.karl.lundberg@gmail.com</p>
      <p>2018</p>
  </div>
</footer>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button>
