<body>
  <div class="row">
    <div class="col-sm-3" style="background-color:lavender;"></div>
    <div class="col-sm-6">
      <div class="row">
        <div class="col-md-4">
          <img id="shirt-pic" src="https://www.acnestudios.com/on/demandware.static/-/Sites-acne-product-catalog/default/dw0e798bf7/images/25/25U173-/750x/25U173-2G8_FLAT.jpg"/>
        </div>
        <div class="col-md-4">
          <img id="shirt-pic" src="https://www.acnestudios.com/on/demandware.static/-/Sites-acne-product-catalog/default/dwc677a87e/images/25/25O173-/750x/25O173-900_FLAT.jpg"/>
        </div>
        <div class="col-md-4">
          <img id="shirt-pic" src="https://www.acnestudios.com/on/demandware.static/-/Sites-acne-product-catalog/default/dw42f60221/images/25/25O173-/750x/25O173-183_FLAT.jpg"/>
        </div>
      </div>
    </div>
    <div class="col-sm-3" style="background-color:lavender;">
    </div>
  </div>
</body>
