<body>
  <div class="container">
    <div class="item">
      <img src="http://lp.hm.com/hmprod?set=source%5B%2Fmodel%2F2017%2FG00%200509937%20021%2066%202531.jpg%5D%2Cmedia_type%5BSTILL_LIFE_FRONT%5D%2Ctshirt_size%5BL%5D%2Cquality%5BH%5D%2Chmver%5B1%5D&call=url%5Bfile%3A%2Flegacy%2Fv1%2Fproduct.chain%5D" width="200"/>
    </div>
    <div class="item">
      <img src="http://lp.hm.com/hmprod?set=source%5B%2Fmodel%2F2018%2FG00%200504957%20022%2066%203827.jpg%5D%2Cmedia_type%5BSTILL_LIFE_FRONT%5D%2Ctshirt_size%5BXL%5D%2Cquality%5BH%5D%2Chmver%5B1%5D&call=url%5Bfile%3A%2Flegacy%2Fv1%2Fproduct.chain%5D" width="200"/>
    </div>
  </div>
</body>
